doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Project
        link(rel="stylesheet", href="./styles/style.css")  
        link(rel="stylesheet", href="./styles/normalize.css")
    body 
        include ./modules/header.pug
        main
            .container
                section.main-banner 
                    .main-banner__img-container 
                        img(src="./images/banner1.png", alt="")
                    .main-banner__content
                        span.main-banner__content-text Illustration
                        h1.main-banner__content-title Japan House opens in mountainside to foster peak creativity.
                        .main-banner__content-desc Enim omittam qui id, ex quo atqui dictas complectitur. Nec ad timeam accusata, hinc justo falli id eum, ferri novum molestie eos cu.
                        button.main-banner__content-btn By Reta Torphy
            .container 
                section.news-big 
                    .news-big__block
                        img(src="./images/banner1.png", alt="")
                        span.news-big__content-text PHOTOGRAPHY
                        h3 Helmut Lang celebrates taxi drivers worldwide in latest campaign
                        button.news-big__content-btn By Alessa Ortiz
                    .news-big__block
                        img(src="./images/banner1.png", alt="")
                        span.news-big__content-text PHOTOGRAPHY
                        h3 Helmut Lang celebrates taxi drivers worldwide in latest campaign
                        button.news-big__content-btn By Alessa Ortiz
                    .news-big__block
                        img(src="./images/banner1.png", alt="")
                        span.news-big__content-text PHOTOGRAPHY
                        h3 Helmut Lang celebrates taxi drivers worldwide in latest campaign
                        button.news-big__content-btn By Alessa Ortiz
                    hr
            .container
                section.news-small 
                    h4 Latest posts
                    .news-small_block
                        img(src="./images/banner1.png", alt="")
                        span.news-small__content-text PHOTOGRAPHY
                        h3 Helmut Lang celebrates taxi drivers worldwide in latest campaign
                        button.news-small__content-btn By Alessa Ortiz
                    .news-small_block
                        img(src="./images/banner1.png", alt="")
                        span.news-small__content-text PHOTOGRAPHY
                        h3 Helmut Lang celebrates taxi drivers worldwide in latest campaign
                        button.news-small__content-btn By Alessa Ortiz
                button.news-small__viewposts-bn VIEW ALL POSTS
                hr
            .container
                section.news-featured 
                    h4 Featured posts
                    .news-featured_block
                        img(src="./images/banner1.png", alt="")
                        span.news-featured__content-text PHOTOGRAPHY
                        h3 Helmut Lang celebrates taxi drivers worldwide in latest campaign
                        button.news-small__content-btn By Alessa Ortiz
                    .news-featured_block
                        img(src="./images/banner1.png", alt="")
                        span.news-featured__content-text PHOTOGRAPHY
                        h3 Helmut Lang celebrates taxi drivers worldwide in latest campaign
                        button.news-small__content-btn By Alessa Ortiz
                    .news-featured_block
                        img(src="./images/banner1.png", alt="")
                        span.news-featured__content-text PHOTOGRAPHY
                        h3 Helmut Lang celebrates taxi drivers worldwide in latest campaign
                        button.news-small__content-btn By Alessa Ortiz
                    .news-featured_block
                        img(src="./images/banner1.png", alt="")
                        span.news-featured__content-text PHOTOGRAPHY
                        h3 Helmut Lang celebrates taxi drivers worldwide in latest campaign
                        button.news-small__content-btn By Alessa Ortiz
        include ./modules/footer.pug